In [22]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [26]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [29]:
# Create our session (link) from Python to the DB
session = Session(engine)
conn=engine.connect()

## D1: Determine the Summary Statistics for June

In [43]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
df = pd.read_sql("Select * FROM Measurement",conn)
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
june_df = df.loc[df['date'].dt.month == 6]

In [42]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

                 id         prcp         tobs
count   1700.000000  1574.000000  1700.000000
mean    9752.647647     0.136360    74.944118
std     5617.512522     0.335731     3.257417
min      134.000000     0.000000    64.000000
25%     5020.750000     0.000000    73.000000
50%     9673.500000     0.020000    75.000000
75%    14547.250000     0.120000    77.000000
max    19497.000000     4.430000    85.000000

## D2: Determine the Summary Statistics for December

In [44]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
df2 = pd.read_sql("Select * FROM Measurement",conn)
df2['date'] = pd.to_datetime(df2['date'], format='%Y-%m-%d')
dec_df = df.loc[df['date'].dt.month == 12]

In [40]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

                 id         prcp         tobs
count   1517.000000  1405.000000  1517.000000
mean    9816.710613     0.216819    71.041529
std     5658.321092     0.541399     3.745920
min      306.000000     0.000000    56.000000
25%     4840.000000     0.000000    69.000000
50%     9876.000000     0.030000    71.000000
75%    14717.000000     0.150000    74.000000
max    19328.000000     6.420000    83.000000